:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --secondary-accent-color: #188ce8;
    --primary-white-color: #ffffff;
    --primary-black-color: #000000;
    --address-color: rgba(255, 255, 255, 0.6);
    --primary-icon-color: #afb1b8;
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #2f303a;
    --third-bg-color: #f5f4fa;
    --animation-bg-color: rgba(47, 48, 58, 0.8);
    --secondary-animation-bg-color: rgba(33, 150, 243, 0.9);
    --border-header-color: #ececec;
    --border-color: #eeeeee;
    --card-set-gap: 30px;
}