.join {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  // @media screen and (min-width: 768px) {
  //   margin-right: auto;
  // }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.join__text,
.sign__text {
  margin-bottom: 20px;
  text-transform: uppercase;

  @include font(700, 16px, 1.14);

  color: var(--primary-white-color);

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.social-media-list {
  @extend %display-center;

  @extend %list;
}

.social-media-list__item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.social-media-list__link {
  @extend %display-center;
  @extend %link;

  width: 44px;
  height: 44px;

  border-radius: 50%;

  @media screen and (min-width: 1200px) {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  background-color: rgba(255, 255, 255, 0.1);

  &:hover,
  &:focus {
    @media screen and (min-width: 1200px) {
      background-color: var(--accent-color);
    }
  }
}

.social-media-list__icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-white-color);
}
